
@font-face {
}
@font-face {
    font-family: 'Quenda';
    src: url('../css/fonts/quenda-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Aller';
    src: url('../css/fonts/aller.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aller';
    src: url('../css/fonts/aller-light.woff') format('woff');
    font-weight: thin;
    font-style: normal;
}
@font-face {
    font-family: 'Aller';
    src: url('../css/fonts/AllerDisplay.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Aller';
    src: url('../css/fonts/Aller_Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Aller';
    src: url('../css/fonts/Aller_It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Aller';
    src: url('../css/fonts/Aller_LtIt.woff') format('woff');
    font-weight: thin;
    font-style: italic;
}
@font-face {
    font-family: 'Aller';
    src: url('../css/fonts/Aller_BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

.body {
  font-family: 'Aller', 'Open Sans', 'Courier New', 'Lucida Sans Typewriter', monospace;
}

/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-family: 'Quenda', 'Kreon', 'Courier New', 'Lucida Sans Typewriter', monospace;
  font-weight: bold;
}

body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    /* Popup styling */

    .mapboxgl-popup {
      padding-bottom: 5px;
    }

    .mapboxgl-popup-close-button {
      display: none;
    }

    .mapboxgl-popup-content {
      font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
      padding: 0;
      width: 200px;
      background: white !important;
    }

    .mapboxgl-popup-content-wrapper {
      padding: 1%;
        background: pink;
    }

    .mapboxgl-popup-content h3 {
      background: #F6F6E3;
      text-align: center;
      color: #616129;
      margin: 0;
      display: block;
      padding: 15px;
      font-weight: 700;
      margin-top: -5px;
    }

    .mapboxgl-popup-content{
      background: rgb(61, 59, 59);
      text-align: center;
      color: #616129;
      margin: 0;
      display: block;
      padding: 15px;
      font-weight: 700;
      margin-top: -5px;
    }

    .mapboxgl-popup-content h4 {
      margin: 0;
      display: block;
      padding: 10px 3px 10px 10px;
      font-weight: 400;
    }

    .mapboxgl-container {
      cursor: pointer;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
      margin-top: 3px;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
      border-bottom-color: rgb(61, 59, 59);
    }

a.mapboxgl-ctrl-logo{
  display: none !important;
}

.mapboxgl-ctrl-bottom-right{
  display: none !important;
}

.mapboxgl-ctrl-top-left {
    top: 30px !important;
    left: 40px !important;
}

.mapboxgl-ctrl-group button {
    background-color: #F6F6E3;
}