<footer>
	<div class="container">
        <a href="/como-funcionamos" class="btn smoothScroll wow fadeInUp" data-wow-delay="0.3s">QUERO FAZER PARTE</a>
	</div>
</footer>

<div id="footer">
    <div class="row_img">
         <div class="column_logo">
         </div>
         <div class="column_logo">
             <a href="mailto:csa@csanossahorta.com"  target="_blank"><i class="fa fa-envelope"></i>&nbsp; csa@csanossahorta.com</a>
         </div>
         <div class="column_logo">
             <a href="https://wa.me/5531999798679" target="_blank"><i class="fa fa-whatsapp"></i>&nbsp; 31 99979 8679</a>
         </div>
         <div class="column_logo">
         </div>
    </div>
</div>