<footer>
	<div class="container">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdI5sDH9v-fcGBihFzd8mGLwGMxEiTiqY-s3c98ORWoxE95Ew/viewform
" target="_blank" class="btn smoothScroll wow fadeInUp" data-wow-delay="0.3s">QUERO FAZER PARTE</a>
	</div>
</footer>

<div id="footer">
    <div class="row_img">
         <div class="column_logo">
             <a href="mailto:csa@csanossahorta.com"  target="_blank"><i class="fa fa-envelope"></i>&nbsp; csa@csanossahorta.com</a>
         </div>
         <div class="column_logo">
             <a href="https://wa.me/5531999798679" target="_blank"><i class="fa fa-whatsapp"></i>&nbsp; 31 99979 8679</a>
         </div>
         <div class="column_logo">
            <div class="center">
                <div id="social">
                    <a class="menu-item foot social" href="https://www.instagram.com/csanossahorta" target="_blank">
                      <i class="fa fa-instagram fa-1_5x" aria-hidden="true"></i>
                    </a>
                    &nbsp;
                    <a class="menu-item foot social" href="https://www.facebook.com/pg/csanossahorta" target="_blank">
                      <i class="fa fa-facebook fa-1_5x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
         </div>
    </div>
</div>