{% assign url = page.permalink %}
{% if url == 'contato' %}
<div class="navbar navbar-fixed-top custom-navbar top-nav-collapse">
{% else %}
<div class="navbar navbar-fixed-top custom-navbar">
{% endif %}
	<div class="topo">

    <!-- navbar header -->
    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
        </button>
        <a href="{{ site.baseurl }}/"><img class="logo" src="images/logo.png" data-wow-delay="0.9s">
    </div>

    <div class="collapse navbar-collapse">
        
        <div class="nav navbar-nav navbar-right">
            <a href="{{ site.baseurl }}/">HOME</a>
            <div  class="dropdown">
            <a> PRODUTORES <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ site.baseurl }}/edson">EDSON</a><hr>
                    <a href="{{ site.baseurl }}/lucas-machado">LUCAS MACHADO</a><hr>
                    <a href="{{ site.baseurl }}/lucas-souza">LUCAS SOUZA</a>
                </div>
            </div>
            <a href="{{ site.baseurl }}/como-funcionamos">COMO FUNCIONAMOS</a>
            <a href="{{ site.baseurl }}/contato">CONTATO</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdI5sDH9v-fcGBihFzd8mGLwGMxEiTiqY-s3c98ORWoxE95Ew/viewform
" target="_blank" class="btn" data-wow-delay="0.3s">INSCREVA-SE</a>
        </div>

    </div>
  </div>
</div>
