<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    {% include meta.html %}
</head>
    
<body>
<!-- =========================
     PRE LOADER       
<div class="preloader">

	<div class="sk-rotating-plane"></div>

</div>
============================== -->


<!-- =========================
     MENU | NAVEGACAO DE TOPO     
============================== -->

    {% include navbar.html %}

<!-- =========================
    CONTATO SECTION   
============================== -->

    
<section id="contato">
	<div class="contato-box">
		<div class="row">
			 <div class="contato">
                {{ content }}
		    </div>
		</div>
	</div>
</section>
    
    
<!-- =========================
    MINIMAL FOOTER SECTION   
============================== -->

<div id="footer">
    <div class="row_img">
         <div class="column_img">
         </div>
         <div class="column_img">
             csa@csanossahorta.com
         </div>
         <div class="column_img">
             +31 9979-8679
         </div>
         <div class="column_img">
         </div>
    </div>
</div>

<!-- =========================
     SCRIPTS   
============================== -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>