<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    {% include meta.html %}
</head>
    
<body scroll="no" id="contato-nav">
<!-- =========================
     PRE LOADER       
<div class="preloader">

	<div class="sk-rotating-plane"></div>

</div>
============================== -->


<!-- =========================
     MENU | NAVEGACAO DE TOPO     
============================== -->

    {% include navbar.html %}

<!-- =========================
    CONTATO SECTION   
============================== -->

    
<section id="contato">
	<div class="contato-box">
		<div class="row">
			 <div class="contato">
                 <br>
                {{ content }}
                <br>
                <div class="row_img">
                     <div class="column_logo">
                         <a href="mailto:{{ page.email }}"  target="_blank"><i class="fa fa-envelope"></i>&nbsp;{{ page.email }}</a>
                     </div>
                     <div class="column_logo">
                         <a href="{{ page.whatsapp-link }}" target="_blank"><i class="fa fa-whatsapp"></i>&nbsp; {{ page.whatsapp }}</a>
                     </div>
                </div>
		    </div>
		</div>
	</div>
</section>
    
    
<!-- =========================
    MINIMAL FOOTER SECTION   
============================== -->

<div id="footer">
    <div class="row_img">
         <div class="column_logo">
         </div>
         <div class="column_logo">
             <a href="mailto:{{ page.email }}"  target="_blank"><i class="fa fa-envelope"></i>&nbsp;{{ page.email }}</a>
         </div>
         <div class="column_logo">
             <a href="{{ page.whatsapp-link }}" target="_blank"><i class="fa fa-whatsapp"></i>&nbsp; {{ page.whatsapp }}</a>
         </div>
         <div class="column_logo">
         </div>
    </div>
</div>

<!-- =========================
     SCRIPTS   
============================== -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>