<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    {% include meta.html %}
</head>
    
<body>
<!-- =========================
     PRE LOADER       
<div class="preloader">

	<div class="sk-rotating-plane"></div>

</div>
============================== -->


<!-- =========================
     MENU | NAVEGACAO DE TOPO     
============================== -->

    {% include navbar.html %}

<!-- =========================
    CONTATO SECTION   
============================== -->

    
<section id="contato">
	<div class="contato-box">
		<div class="row">
			 <div class="contato">
                {{ content }}
		    </div>
		</div>
	</div>
</section>
    
    
<!-- =========================
    MINIMAL FOOTER SECTION   
============================== -->

<div id="footer">
    <div class="row_img">
         <div class="column_logo">
         </div>
         <div class="column_logo">
             <a href="mailto:csa@csanossahorta.com"  target="_blank"><i class="fa fa-envelope"></i>&nbsp; csa@csanossahorta.com</a>
         </div>
         <div class="column_logo">
             <a href="https://wa.me/5531999798679" target="_blank"><i class="fa fa-whatsapp"></i>&nbsp; 31 99979 8679</a>
         </div>
         <div class="column_logo">
         </div>
    </div>
</div>

<!-- =========================
     SCRIPTS   
============================== -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>