<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    {% include meta.html %}
</head>
    
<body>
<!-- =========================
     PRE LOADER       
<div class="preloader">

	<div class="sk-rotating-plane"></div>

</div>
============================== -->


<!-- =========================
     MENU | NAVEGACAO DE TOPO     
============================== -->

    {% include navbar.html %}

<!-- =========================
    INTRO SECTION   
============================== -->
<section id="intro" class="parallax-section">
	<div class="container">
		<div class="row">
			<div><br><br><br><br><br><br><br><br><br><br><br>
				<img src="../images/logo_horizontal_LIGHT.png" data-wow-delay="0.9s">
                <br><br>
				<h2 class="wow fadeInUp" data-wow-delay="1.6s">Somos uma Comunidade<br>que sustenta a agricultura</h2>
                <br><br><br>
				<a href="/inscreva-se" class="btn smoothScroll wow fadeInUp" data-wow-delay="0.3s">QUERO FAZER PARTE</a>
			</div>


		</div>
	</div>
</section>


<!-- =========================
    OVERVIEW SECTION   
============================== -->
<section id="overview" class="parallax-section">
	<div class="container">
		<div class="row">

            <h1>Uma nova forma de economia em uma atuação conjunta entre agricultores e consumidores. </h1>
		</div>
	</div>
</section>

<!-- =========================
    VIDEO SECTION   
============================== -->
<section id="video" class="parallax-section">
	<div class="container">
		<div class="row">
				<div class="embed-responsive embed-responsive-16by9">
					<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/476485205?color=ff9933&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
				</div>
        </div>
	</div>
</section>
<hr>

<!-- =========================
    PORQUE SECTION   
============================== -->    
    
<section id="overview" class="parallax-section">
	<div class="container">
		<div class="row">
            <h3>Porque participar?</h3>
		</div>
        <br><br><br>
                    
            <div class="row_img">
                {% for i in (1..3) %}
                    {% assign item = site.data.porque-participar | where: 'column', i | sort: 'order' %}
                    {% for cover in item %}
                 <div class="column_img"> 
                            <img src="/images/{{ cover.icon }}.png">
                            <h4>{{ cover.title }}</h4>
                            <p>{{ cover.text }}</p>
                            <br><br><br>
                 </div>
                    {% endfor %}
                {% endfor %}
        </div>
	</div>
</section>
    
<!-- =========================
    BOTOES SECTION   
============================== -->
    
<section id="botoes">
	<div class="container">
		<div class="row">
			 <div class="row_img">
                 <div class="column_img">
                    <a href="/inscreva-se" class="btn" data-wow-delay="0.3s">O QUE É UMA CSA?</a>
                 </div>
                     <br><br><br>
                 <div class="column_img">
                    <a href="/inscreva-se" class="btn" data-wow-delay="0.3s">CESTAS E MENSALIDADE</a>
                 </div>
		    </div>
		</div>
	</div>
</section>



<!-- =========================
    PRODUTORES SECTION   
============================== -->    
    
<section id="overview" class="parallax-section">
	<div class="container">
		<div class="row">
            <h3>Nossos produtores</h3>
            <p>Conheça um pouco mais sobre quem está por trás do cultivo dos alimentos com compõe as nossa cestas</p>
		</div>
        
        <br><br><br>
        <div class="row_img">
                 <div class="column_img">
                            <img src="/images/coracao.png">
                            <h4>Para cuidar da sua saúde</h4>
                            <p>Receba alimentos da estação, cultivados por agricultores locais, sem a utilização de agrotóxicos ou fertilizantes químicos.</p>
                 </div>
                 <div class="column_img">
                            <img src="/images/coracao.png">
                            <h4>Para cuidar da sua saúde</h4>
                            <p>Receba alimentos da estação, cultivados por agricultores locais, sem a utilização de agrotóxicos ou fertilizantes químicos.</p>
                 </div>
                 <div class="column_img">
                            <img src="/images/coracao.png">
                            <h4>Para cuidar da sua saúde</h4>
                            <p>Receba alimentos da estação, cultivados por agricultores locais, sem a utilização de agrotóxicos ou fertilizantes químicos.</p>
                 </div>
        </div>
        <br><br><br>
	</div>
</section>
    
<!-- =========================
   MAP SECTION   
============================== -->
<section id="map" class="parallax-section">
		<div class="row">
            <div class="map">
            <iframe src="../mapa"></iframe>
            </div>
		</div>
</section>


<!-- =========================
    COPRODUTORES SECTION   
<section id="overview" class="parallax-section">
	<div class="container">
		<div class="row">

            <h3>Palavra dos coprodutores</h3>
            <br><br><br>
		</div>
	</div>
</section>
    
    
<hr>
============================== -->


<!-- =========================
    SPONSORS SECTION   
============================== -->
<br>
<br>    
<section id="overview" class="parallax-section">
	<div class="container">
		<div class="row">
            <h4>Nossos parceiros</h4>
		</div>
        
        <br><br><br>
                    
            <div class="row_img">
                {% for i in (1..3) %}
                    {% assign item = site.data.parceiros | where: 'column', i | sort: 'order' %}
                    {% for cover in item %}
                 <div class="column_logo"> 
                     <a href="{{ cover.url }}"  target="_blank"><img src="/images/{{ cover.logo }}.png"></a>
                     <br><br><br>
                 </div>
                    {% endfor %}
                {% endfor %}
        </div>
	</div>
</section>


<!-- =========================
    FOOTER SECTION   
============================== -->

    {% include footer.html %}

<!-- =========================
     SCRIPTS   
============================== -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>