<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Mapa | CSA Nossa Horta</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/map_style.css">
  <!-- Google fonts-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <!-- <link rel="shortcut icon" href="media/favicon.ico" /> -->
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
  <script src="https://npmcdn.com/csv2geojson@latest/csv2geojson.js"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.css" type="text/css" />
  
</head>

<body>
  
<div id="map"></div>
  
  
  

  
  <script>
    var geocoder = new MapboxGeocoder({
       accessToken: mapboxgl.accessToken,
       mapboxgl: mapboxgl
    });
    
    var transformRequest = (url, resourceType) => {
      var isMapboxRequest =
        url.slice(8, 22) === "api.mapbox.com" ||
        url.slice(10, 26) === "tiles.mapbox.com";
      return {
        url: isMapboxRequest
          ? url.replace("?", "?pluginName=sheetMapper&")
          : url
      };
    };
    //YOUR TURN: add your Mapbox token 
    //mapboxgl.accessToken = 'pk.eyJ1IjoiY2FydG9ncmFmaWFkYXNtZW1vcmlhcyIsImEiOiJjazlxMDN1aG0wZnY4M2xvZHJjajdldnE3In0.qHPWWLN-r8EmzjGLm3afAA'; //Mapbox token 
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FyYWxnYyIsImEiOiJja2NjbTAyczkwNXA3Mnlscm5nbjN5OHZiIn0.yNcJkPBSugRlIeGkXDRlZw'; //Mapbox token 
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/saralgc/ckkv1hkzh0b4817qa5ahw9ged',
      center: [-44.542976, -22.393782], // starting position
      zoom: 14,// starting zoom
      transformRequest: transformRequest
    });

    $(document).ready(function () {
      $.ajax({
        type: "GET",
        //YOUR TURN: Replace with csv export link
        //https://www.mapbox.com/impact-tools/sheet-mapper
        url: 'https://docs.google.com/spreadsheets/d/14uzofB5ax8jGVoI6ox5y8JAk3e0t_HrwhfzlGcs8FBE/gviz/tq?tqx=out:csv&sheet=Sheet1',
        dataType: "text",
        success: function (csvData) { makeGeoJSON(csvData); }
      });



      function makeGeoJSON(csvData) {
        csv2geojson.csv2geojson(csvData, {
          latfield: 'Latitude',
          lonfield: 'Longitude',
          delimiter: ','
        }, function (err, data) {
          
          map.on('load', function () {
            

            map.addLayer({
              'id': 'csvData',
              'type': 'circle',
              'source': {
                'type': 'geojson',
                'data': data
              },
              'paint': {
                'circle-radius': 9,
                'circle-color': "#616129",
              }
            });


            // When a click event occurs on a feature in the csvData layer, open a popup at the
            // location of the feature, with description HTML from its properties.
            
            map.on('click', 'csvData', function (e) {
              var coordinates = e.features[0].geometry.coordinates.slice();

              //set popup text 
              //You can adjust the values of the popup to match the headers of your CSV. 
              // For example: e.features[0].properties.Name is retrieving information from the field Name in the original CSV. 
              /* player mixcloud
              var description = `<iframe width="100%" height="60" src="` + e.features[0].properties.Audio + `" frameborder="0" allow="autoplay"></iframe>` + `<h4>` + e.features[0].properties.Data + `</h4>` + `<h4>` + `<b>` + ` TAGS` + `</b>` + `<br>` + e.features[0].properties.Tags + `</h4>`;
              */
              
              /*
              player archive.org */
              //var description = `<h3>` + `<b>` + e.features[0].properties.Nome + `</b>` +`</h3>` + `<br>` + `<img src="` + e.features[0].properties.Imagem + `" style="width:100%">` +`<br>` + `<b>` + ` PRODUTOS` + `</b>` + `<h4>` + e.features[0].properties.Produtos + `</h4>` + `<br>`  + `<b>` + ` CONTATO` + `</b>` + `<h4>` + e.features[0].properties.Contato + `</h4>` ;
              var description = `<img src="` + e.features[0].properties.Imagem + `" style="width:100%">`  ;
              
              
               /*
              player html*/
        
              
              // Ensure that if the map is zoomed out such that multiple
              // copies of the feature are visible, the popup appears
              // over the copy being pointed to.
              while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
              coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
              }

              //add Popup to map

              new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
            });
          

            // Change the cursor to a pointer when the mouse is over the places layer.
            map.on('mouseenter', 'csvData', function () {
              map.getCanvas().style.cursor = 'pointer';
            });
            
             map.on('mouseenter', 'csvData2', function () {
              map.getCanvas().style.cursor = 'pointer';
            });

            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'places', function () {
              map.getCanvas().style.cursor = '';
            });

            var bbox = turf.bbox(data);
            map.fitBounds(bbox, { padding: 50 });

        
            
          });

        });
      };
      
      
    });
    

      // ZOOM
    map.addControl(new mapboxgl.NavigationControl(), 'top-left');     // disable map zoom when using scroll
      map.scrollZoom.disable(); 
    
  </script>

  
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
  
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
  
</body>

</html>